# General
NETWORK=<mainnet-or-testnet>
PORT=<>
MONGODB_URI=<>
MINING_ENABLED=<true-or-false>
CACHE_RECALC_ENABLED=<true-or-false>

# For admin use 
API_KEY=<>

# Faucet
FAUCET_SECRET_KEY=<bobcoin-sk-b58>
RECAPTCHA_SECRET_KEY=<>
NODE_DONATION_ADDRESS=<>

# Mining pool
POOL_SECRET_KEY=<>
POOL_PUBLIC_KEY=<>
POOL_ADDRESS=<>
